.slider {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  ul {
    padding: 0;
    li {
      width: 100%;
      top: 0;
      position: relative;

      // fade
      &.fade-enter {
        opacity: 0;
        position: absolute;
      }
      &.fade-enter-active {
        opacity: 1;
        position: absolute;
        transition: 1s ease-in all;
      }
      &.fade-exit {
        opacity: 1;
      }
      &.fade-exit-active {
        opacity: 0;
        transition: 1s ease-out all;
      }

    }
  }

  .slider-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    margin: auto;

    button.slider-navigation-button__left,
    button.slider-navigation-button__right {
      background-color: transparent;
      border: none;
      color: #007aff;
      outline: none;
      &:hover {
        color: #56a4f9;
        cursor: pointer;
      }
    }
    button.slider-navigation-button__left {
      float: left;
    }
    button.slider-navigation-button__right {
      float: right;
    }
  }
}
